
  .b1
  {
    background-color:rgb(10,102,194);
    color: white;
    font-size: medium;
    border: none;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 15px;
    padding-top: 8px;
    border-radius: 20px;
    transition: background-color 0.15;

  }
  .b1:hover{
   
    background-color: rgb(2, 70, 138);
  }
 

  .b2{
    background-color: white;
    color: rgb(22, 44, 104);
    font-size: medium;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-color:rgb(91, 91, 231);
    margin-right:10px;
    border-radius: 20px;
    transition: background-color 0.15s,border-width 0.15;
  }
  .b2:hover{
    background-color: rgb(226,240,254);
    border-width: 2px;
  }
